{%- assign sorted_projects = site.posts | sort: "date" -%}

<br />
<hr />
<h3>The Series</h3> 
<br />
<div class="container">
  <div class="row row-cols-2">
    {%- for post in sorted_projects limit:6 -%} 
      {% for category in page.categories %} 
        {% if post.categories contains category %} 
          {% if post.url != page.url %}
            <div class="card-item col">
              <a href="{{ post.url }}">
                <div class="card hoverable">
                  <div class="row g-0">
                    <div class="col-md-12">
                      <div class="card-body">
                        <h3 class="card-title text-lowercase">{{ post.title }}</h3>
                        <p class="card-text">{{ post.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endif %} 
        {%- endif %} 
      {% endfor %} 
    {%- endfor %}
  </div>
</div>
